{% extends "Receptionist/Create_delete_update_Patient_base.html" %}
{% load staticfiles %}

{% block content %}
<article>
<p> &nbsp</p>
 <p> &nbsp</p>
    </article>
<div class="panel panel-primary">

  <div class="panel-heading">
    <h1 class="panel-title">Create Patient <i class="fa fa-medkit"></i></h1>
  </div>

  <article class="panel-body">
    <form action="" method="post" role="form">
      {% csrf_token %}
      <div class="form-group">
        <input name="username" id="username" type="text" class="form-control" placeholder="Username"required>
      </div>

      <div class="form-group">
        <input name="first_name" id="first_name" type="text" class="form-control" placeholder="First name" required>
      </div>

      <div class="form-group">
        <input name="last_name" id="last_name" type="text" class="form-control" placeholder="Last name"required>
      </div>
            <div class="form-group">
        <input name="section" id="section" type="text" class="form-control" placeholder="Section"required>
      </div>
              <div class="form-group">
        <input name="room" id="room" type="text" class="form-control" placeholder="Room"required>
      </div>

      <div class="form-group">
        <input name="age" id="age" type="number" class="form-control" placeholder="Age"required>
      </div>

      <div class="form-group">
        <select name="gender" label="gender" id="gender" class="form-control" required>
        <option selected disabled>Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>  
        </select>
      </div>

      <div class="form-group">
        <input name="ssn" id="ssn" type="text" class="form-control" placeholder="SSN"required="">
      </div>

      <div class="form-group">
        <label for="birthday">birthday</label>
        <input name="birthday" id="birthday" type="date" class="form-control">
      </div>
            <div class="form-group">
        
        <input name="Tel" id="Tel" type="text" class="form-control" placeholder="Tel">
      </div>

      <div class="form-group">
        <input name="occupation" id="occupation" type="text" class="form-control" placeholder="Occupation">
      </div>
       <div class="form-group">
        <input name="email" id="email" type="text" class="form-control"placeholder="Email">
      </div>

      <div class="form-group">
      
        <select name="marital_status" id="marital_status" class="form-control" required>
        <option selected disabled class="gray">Marital status</option>
          <option value="single">Single</option>
          <option value="married">Married</option>
        </select>
      </div>
      <div class="form-group">
        <input name="country" id="country" type="text" class="form-control" placeholder="Country">
      </div>

        <div class="form-group">
        <input name="city" id="city" type="text" class="form-control" placeholder="City">
      </div>

      <div class="form-group">
        <input name="district" id="district" type="text" class="form-control" placeholder="District">
      </div>

      <div class="form-group">
        <input name="street" id="street" type="text" class="form-control" placeholder="Street">
      </div>

      <div class="form-group">
        <input name="alley" id="alley" type="text" class="form-control" placeholder="Alley">
      </div>

      <div class="form-group">
        <input name="building_no" id="building_no" type="number" class="form-control" placeholder="Building No">
      </div>

      <div class="form-group">
        <input name="postal_code" id="postal_code" type="text" class="form-control" placeholder="Postal Code">
      </div>


      <p>
        <button type="submit" class="btn btn-success btn-block"/> Inscribe</button>
      </p>
    </form>

    <p>
      <a href="{% url 'rec_app:patients-list' %}" class="btn btn-primary btn-block"> Back To List </a>
    </p>
  </article>
</div>
<article>
<p> &nbsp</p>
    </article>
{% endblock content %}
