{% extends "Receptionist/rec_base.html" %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-primary">

  <div class="panel-heading">
    <h1 class="panel-title">Create Patient</h1>
  </div>

  <article class="panel-body">
    <form action="" method="post" role="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">username</label>
        <input name="username" id="username" type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="first_name">first_name</label>
        <input name="first_name" id="first_name" type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="last_name">last_name</label>
        <input name="last_name" id="last_name" type="text" class="form-control" required>
      </div>
            <div class="form-group">
        <label for="section">section</label>
        <input name="section" id="section" type="text" class="form-control" required>
      </div>
              <div class="form-group">
        <label for="room">room</label>
        <input name="room" id="room" type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="age">age</label>
        <input name="age" id="age" type="number" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="gender">gender</label>
        <select name="gender" id="gender" class="form-control" required>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
      </div>

      <div class="form-group">
        <label for="ssn">ssn</label>
        <input name="ssn" id="ssn" type="text" class="form-control" required="">
      </div>

      <div class="form-group">
        <label for="birthday">birthday</label>
        <input name="birthday" id="birthday" type="date" class="form-control">
      </div>
            <div class="form-group">
        <label for="Tel">Tel</label>
        <input name="Tel" id="Tel" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="occupation">occupation</label>
        <input name="occupation" id="occupation" type="text" class="form-control">
      </div>
       <div class="form-group">
        <label for="email">email</label>
        <input name="email" id="email" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="marital_status">marital_status</label>
        <select name="marital_status" id="marital_status" class="form-control" required>
          <option value="single">Single</option>
          <option value="married">Married</option>
        </select>
      </div>
      <div class="form-group">
        <label for="country">country</label>
        <input name="country" id="country" type="text" class="form-control">
      </div>

        <div class="form-group">
        <label for="city">city</label>
        <input name="city" id="city" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="district">district</label>
        <input name="district" id="district" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="street">street</label>
        <input name="street" id="street" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="alley">alley</label>
        <input name="alley" id="alley" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="building_no">building_no</label>
        <input name="building_no" id="building_no" type="number" class="form-control">
      </div>

      <div class="form-group">
        <label for="postal_code">postal_code</label>
        <input name="postal_code" id="postal_code" type="text" class="form-control">
      </div>


      <p>
        <button type="submit" class="btn btn-success btn-block"/> Create</button>
      </p>
    </form>

    <p>
      <a href="{% url 'rec_app:patients-list' %}" class="btn btn-primary btn-block"> Back To List </a>
    </p>
  </article>
</div>
{% endblock content %}
