{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-danger">

  <div class="panel-heading">
    <h1 class="panel-title">
      Delete Patient <strong>{{ patient.firstname|title }} {{ patient.lastname|title }}</strong> <i class="fa fa-trash"></i>
    </h1>
  </div>

  <article class="panel-body">
    <form action="" method="post">
      {% csrf_token %}
      <h2>Are you sure to remove <strong>{{ patient.firstname|title }} {{ patient.lastname|title }}</strong> with Username: <strong>{{ patient.username }}</strong>?</h2>
      <p>
        <button type="submit"  class="btn btn-danger btn-block"/>Confirm</button>
      </p>
    </form>

    <section>
      <p>
        <a href="{% url 'rec_app:patients-list' %}" class="btn btn-success btn-block"> Back To list </a>
      </p>
      <p>
        <a href="{% url 'rec_app:patients-update' patient.username %}" class="btn btn-primary btn-block"> Modify Patient </a>
      </p>
    </section>

  </article>

</div>

{% endblock content %}