{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-danger">

  <div class="panel-heading">
    <h1 class="panel-title">
      Delete Schedule <strong>{{ sch.event|title }} </strong> <i class="fa fa-trash"></i>
    </h1>
  </div>

  <article class="panel-body">
    <form action="" method="post">
      {% csrf_token %}
      <h2>Are you sure to remove <strong>{{ sch.event|title }} </strong> ?</h2>
      <p>
        <button type="submit"  class="btn btn-danger btn-block"/>Confirm</button>
      </p>
    </form>

    <section>

      <p>
        <a href="{% url 'rec_app:patients-detail' patient.username %}" class="btn btn-primary btn-block"> Back to Patient Detail </a>
      </p>
    </section>

  </article>

</div>

{% endblock content %}