
<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
	<title>CHMS | PatientList</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/general-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
</head>

<body>

<div class="header">
	<ul>
		<li class="brand"><img src="{% static 'logo.png' %}"></li>
		<a href="{% url 'rec_app:patients-list' %}"><li>Patient List</li></a>
        <a href="{% url 'rec_app:rec_search' %}"><li>Search</li></a>
        <a href="{% url 'rec_app:patients-create' %}"><li>BedRidden Registeration</li></a>
        <a href="{% url 'messages_inbox' %}"><li>Messages</li></a>
        <a href="{% url 'logout' %}"><li>LogOut</li></a>
	</ul>
</div>

<div class="container">
  {% block content %}
  {% endblock content %}

</div>
  <div class="forground"></div>
{% block js %}
{% endblock js %}



<div class="pattern"></div>
</body>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{ % static 'js/hoverIntent.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script type="text/javascript">
	$('input.btn').hoverIntent(function(){
		$(this).animate({"border-radius": "-=30px"},300);
	},function(){$(this).animate({"border-radius": "+=30px"},300);});
</script>
</html>