
<!DOCTYPE html>
{% load staticfiles %}
{%load static%}
<html>
<head>
	<title>Doctor|Home</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/general-style.css' %}">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/patient_home.css' %}">
</head>
<body>
<div class="sidebar">
	<ul>
		<a class="btn warning" href="#profile"><li class="btn"li>Profile</li></a>
		<a class="btn warning" href="{% url 'doc_app:download' %}"><li  class="btn warning "> DownloadApp</li></a>
		<a class="btn warning" href="{% url 'messages_inbox' %}"><li  class="btn warning ">Messages</li></a>
		<a class="btn warning" href="{% url 'doc_app:doc_search' %}"><li class="btn warning ">Search</li></a>
        <a class="btn warning" href="{% url 'logout' %}"><li class="btn warning ">Log Out</li></a>
	</ul>
</div>
<div class="main">
	<div class="module" id="profile">
        {% if doc.photo %}
		<p><img src={{doc.photo.url}}></p>
        {% else %}
        <img src="{% static 'congruent_pentagon.png' %}">
        {% endif %}
		<p>Username : {{ doc.user.username}} </p>
		<p>FirstName : {{ doc.user.first_name}} </p>
		<p>LastName : {{ doc.user.last_name}} </p>
		<p>Email: {{ doc.user.email}}</p>
		<p>social security number :{{ doc.ssn}} </p>
		<p>Birthday : {{ doc.birthday }}</p>
		<p>Age : {{ doc.age }}</p>
		<p>Address : {{ doc.get_address_as_string }}</p>
            <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
	</div>

</div>
<div class="pattern"></div>
</body>
<script src="js/jquery.js"></script>
<script src="js/hoverIntent.js"></script>
<script src="js/script.js"></script>
<script type="text/javascript">
	$('li.btn').hoverIntent(function(){
		round($(this));
	},function(){});
</script>
</html>