<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href='{% static "style.css" %} '>
</head>
<body>
	<form method="post" >
	{% csrf_token %}
		<legend>Physician Registration Form</legend>
		<hr>
		<p><input name="username" placeholder="Username">  </p>
		<p><input name="first_name" placeholder="Firstname">  </p>
		<p><input name="last_name" placeholder="Lastname">  </p>
		<p><input name="email" type="email" placeholder="Email">  </p>
		<p><input name="tel" type="tel" placeholder="Tel">  </p>
		<p><input name="ssn" placeholder="ssn"></p>
		<p><input name="birthday" type="date" placeholder="Birthday"></p>
		<p><input name="age" placeholder="Age"></p>
		<p> 
			<select name="marital_status">
				<option value="0">single</option>
				<option value="1">married</option>
			</select>
		</p>
        <p>
			<select name="is_staff_head">
				<option value="True">Is Head</option>
				<option value="False">Is Not Head</option>
			</select>
		</p>
		<p><input name="country" placeholder="Country">  </p>
		<p><input name="city" placeholder="City">  </p>
		<p><input name="district" placeholder="District">  </p>
		<p><input name="street" placeholder="Street">  </p>
		<p><input name="alley" placeholder="Alley">  </p>
		<p><input name="building_no" placeholder="Building-no">  </p>
		<p><input name="postal_code" placeholder="Postal Code">  </p>
        <p>
			<select name="speciality">
				<option value="cr">cardialogist</option>
				<option value="dr">dermatologist</option>
                <option value="en">endocrinologist</option>
                <option value="ent">Ear Nose Throat</option>
                 <option value="ge">Gerontologist</option>
                <option value="gy">Gynaecologist</option>
                <option value="ha">Haematologist</option>
                <option value="in">Internist</option>
                <option value="ne">Neurologist</option>
                <option value="ob">Obstetrician</option>
                <option value="on">Oncologist</option>
                <option value="op">Ophthalmologist</option>
                <option value="or">Orthodontist</option>
                <option value="ort">Orthopaedis</option>
                <option value="pd">Pediatrician</option>
                <option value="po">Podiatrist</option>
                <option value="ra">Radiologist</option>
                <option value="sr">Surgeon</option>
                <option value="ur">Urologist</option>
			</select>
		</p>
		<p><input name="graduation_university_name" placeholder="graduation university name"></p>
		<p><input name="graduation_university_country" placeholder="graduation university country"></p>
		<p><input name="graduation_university_city" placeholder="graduation university city"></p>
        <p>
			<select name="degree">
				<option value="DE">dentist</option>
				<option value="GP">general practitioner</option>
                <option value="SP">Specialist</option>
                <option value="SSP">SSP</option>
			</select>
		</p>
		<br>
		<input type="submit">
	</form>
</body>
</html>