
<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- FontAwesome -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Navbar -->
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
  <link href="{% static 'css/pattern.css' %}" rel="stylesheet">
</head>


<body>

<head>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        </div>
      <ul class="nav navbar-nav">
        <li ><a href="{% url 'medicine_app:medicines-list' %}">Medicines List</br></a></li>
        <li><a href="{% url 'medicine_app:medicines-create' %}">Add Medicine</a></li>
        <li><a href="{% url 'messages_inbox' %}">Messages</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>


       </div>
        </div>

  </nav>
</head>
    <p><&nbsp</p>
    <p><&nbsp</p>
 <p><&nbsp</p>
<div class="panel panel-primary">

  <div class="panel-heading">
    <h1 class="panel-title"> &nbsp &nbsp  Color Help <i class="fa fa-medkit"></i></h1>
  </div>

  <table class="table table-striped">
    <thead >
      <tr >
        <th style="text-align:center">Red</th>
        <th style="text-align:center">Orange</th>
        <th style="text-align:center">White</th>
      </tr>
    </thead>
    <tbody>
        <tr >

          <td style="text-align:center" >Low</td>
          <td style="text-align:center"> Very Low</td>
          <td style="text-align:center"> Normal </td>

        </tr>
    </tbody>
  </table>


</div>

<div class="container">
  {% block content %}
  {% endblock content %}

</div>
<div class="pattern"></div>
{% block js %}
  <!-- Jquery -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <!-- Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock js %}

</body>



</html>
