<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>CHMS | SEARCH</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/general-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
</head>
<body>
<div class="header">
	<ul>
		<li class="brand"><img src="{% static 'logo.png' %}"></li>
		<a href="{% url 'login_all' %}"><li>Login</li></a>
		<a href="{% url 'phar_app:login' %}"><li>Pharmacy</li></a>
		<a href="{% url 'SystemHomePage' %}"><li>Home</li></a>
		<a href="#"><li>Contact</li></a>
		<a href="#"><li>About Us</li></a>
	</ul>
</div>
<div class="search">
		<h1 style="color:#34495e">Search Patient</h1>
		<p>Just type patient's name and click search button</p>
		    <form method="get" action="/PatientSearch/">
			Search: <input class="large" type="text" name="q" id="id_q" placeholder="search">
    		<input type="submit" value="Submit" name="submit_search_btn" class="btn  warning"  /> </select>
     		</form>
		
</div>
<div class="result">
	<table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Age</th>
			<th>Hospital</th>
			<th>Hospital Tel</th>
		</tr>
	    {% for obj in found_entries %}
		<tr>
			<td>{{ obj.user.first_name }}</td>
			<td>{{ obj.user.last_name}}</td>
			<td>{{ obj.age}}</td>
            <td>{{ obj.parent_hospital.Hospital_Name}}</td>
            <td>{{ obj.parent_hospital.get_phone_numbers}}</td>
		</tr>
        {% endfor %}
	</table>
</div>
<div class="pattern"></div>
</body>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/hoverIntent.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script type="text/javascript">
	$('input.btn').hoverIntent(function(){
		$(this).animate({"border-radius": "-=30px"},300);
	},function(){$(this).animate({"border-radius": "+=30px"},300);});
</script>
</html>